@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root{
  max-width: 1440px;
  margin: 0 auto;
font-family: "Outfit";
}
@keyframes vibrate {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(-10deg); }
  40% { transform: rotate(10deg); }
  60% { transform: rotate(-10deg); }
  80% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.animate-vibrate {
  animation: vibrate 0.5s infinite;
}

.swiper-pagination {
  position: static !important;
  margin-top: 1rem;
}

